*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(75, 70, 70) 
}
header{
    background-color: rgba(2, 27, 248, 0.897);
    display: block;
    flex-direction: column;
    text-align: center;    
}
header li{
    display: inline;
    margin: 10% 2%; 
    flex-direction: column;   
}
header li a{
    display: inline;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: azure;
    font-weight:bold;
    cursor: pointer;
}
.title{
   background-color: aliceblue;
   
}
body{
    background-image: url('b2.jpg');
    display: block;
    align-items: center;
}
h1{
    font-size: large;    
    flex: auto;
}
.row{
    display: block;
    flex-direction: row;
    flex-wrap: wrap;    
}
.row input{
    display: block;
    flex-direction: row;
    align-items: center;
    border-style:hidden;
    background-color: rgba(128, 128, 128, 0.575);
    font-size: 11pt;
    cursor:inherit;

}
.row select{
    display: block;
    flex-direction: row;
    align-items: center;
    border-style:hidden;
    background-color: rgba(128, 128, 128, 0.575);
    font-size: 11pt;
}
.text{
    margin: 1% 5%;
}
footer{
    background-color: black;
    align-items: center;
    text-align: center;
    color: azure;
}